/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #2d89ff;
  color: white;
}

/* Row colors */
#ordersTable tbody tr:nth-child(odd) {
  background: white;
}

#ordersTable tbody tr:nth-child(even) {
  background: #f2f2f2;
}

#ordersTable tbody tr:hover {
  background: #dfefff;
}

#ordersTable td {
  background: transparent;
}

/* Search */
.search-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-container input,
.search-container select {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.search-container button {
  padding: 10px 16px;
}

.search-container button:hover {
  background: white;
  color: #2d89ff;
  border: 2px solid #2d89ff;
}

/* Delete button */
.deleteBtn {
  background: #ff4d4d;
}

.deleteBtn:hover {
  background: #cc0000;
}

/* Delete modal */
.delete-actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

#confirmDeleteBtn,
#cancelDeleteBtn {

  background: #ddd;

  color: black;

  border: 2px solid black;

  border-radius: 6px;
}

#confirmDeleteBtn:hover {
  border-color: red;
}

#cancelDeleteBtn:hover {
  border-color: green;
}